<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../static/css/style.css">
<link type="image/png" rel="shortcut icon" href="../static/images/favicon.png">
