<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Dzikra's Portofolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">About Me<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/personal-life">Hobbies and Activity</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="/achievements">Achievements</a></li>
        </ul>
      </li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/resume">My Resume</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" id="light_theme">Light Mode</a></li>
      <li><a href="" id="dark_theme">Dark Mode</a></li>
    </ul>
  </div>
</nav>
