html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  transition: background-color 0.5s ease;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}

.img-opt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  width: auto;
  padding: 1.5rem;
  cursor: pointer;
  transition: transform .2s;
}

.img-opt:active {
  transform: scale(1.05);
}

.img-frame {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.img-frame:hover .overlay {
  bottom: 0;
  height: 100%;
}

#intro {
  text-align: center;
  cursor: pointer;
}

#light_theme{
  cursor: pointer;
}

#dark_theme{
  cursor: pointer;
}

.light {
  background-color: rgba(255, 255, 255, 1) !important;
}
.dark {
  background-color: rgba(52, 58, 64, 1) !important;
}

.light-toggled {
  background-color: rgba(255, 255, 255, 1);
}
.dark-toggled {
  background-color: rgba(52, 58, 64, 1);
}

.light p {
  color: black !important;
}

.light h1 {
  color: black !important;
}

.light h2 {
  color: black !important;
}

.light-toggled p {
  color: black;
}

.light-toggled h1 {
  color: black;
}

.light-toggled h2 {
  color: black;
}

.dark p {
  color: white;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}

.dark-toggled p {
  color: white;
}

.dark-toggled h1 {
  color: white;
}

.dark-toggled h2 {
  color: white;
}
