<!DOCTYPE html>

{% extends 'template/base.html' %}
{% block content %}

<html lang="en" dir="ltr">
  <head>
    <title>Dzikra's Portofolio</title>
  </head>
  <body>

    <div class="container">

      <div class="row">
        <h1 id="intro">Hello there...</h1>
      </div>

      <div class="row img-frame">
          <img src="../static/images/profile_photo.png" class="img-opt" alt="MyPhoto">
          <div class="overlay">
            <img src="../static/images/general_grievous.png" class="img-opt" alt="HelloThere">
          </div>
      </div>

      <div class="row" style="text-align: center;">
        <h2>Muhammad Dzikra Muzaki</h2>
        <h2>1806141334</h2>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

  </body>
</html>

{% endblock %}
